* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
    height: 4em;
    justify-content: center;
}

.d-flex h4 {
    margin: 1em;
    font-size: 1em;
    color: aliceblue;
    font-weight: bold;
    margin-right: 0em;
}

header div:first-child {
    margin: auto 3em;
    margin-right: 1em;
}

header div:nth-child(2) {
    margin: auto 3em;
    margin-left: 0em;
    margin-right: 1em;
}

header div:nth-child(2) select {
    width: 200px;
}

input[type=submit] {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 11px;
    border-radius: 9px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(rgb(26, 255, 0) 0%, rgb(0, 0, 0) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid black;
    display: inline-block;
    width: 150px;
}

header div.guardar {
    margin: auto 0em;

}

input[type=submit]:hover {
    border: 1px solid white;
    background: darkgreen;
}

input[type=submit]:active {
    background: #000000;
    font-size: small;
}

header div.guardar p {
    margin: 0em;
    font-weight: bold;
    font-size: 1.3em;
}


div#filtro.d-flex {
    background-color: gray;
    height: 3em;
    align-items: center;
    justify-content: center;
}

div#filtro.d-flex div.filtroPrioridad {
    margin: auto 1em;
}

div#filtro.d-flex div.filtroPrioridad select {
    width: 150px;
}

div#filtro.d-flex div.filtroTexto {
    margin: auto 1em;
}

section article {
    padding: 2em;
    border: 1px solid black;
    justify-content: space-between;
}

section article div.borrar {
    margin: auto 0em;
    background-color: red;
    color: white;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    height: 2em;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.3em;
}

section article div.borrar:hover {
    background-color: darkred;
    border: 2px solid gold;
}


.diaria {
    background-color: yellow;
}

.urgente {
    background-color: red;
}

/* 
section article.urgente div.borrar {
    background-color: darkred;
} */

.mensual {
    background-color: green;
}

footer {
    background-color: black;
    padding: 1.25em 0em;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.btnBorrar {
    color: rgb(255, 255, 255);
    width: 150px;
    font-size: 20px;
    line-height: 20px;
    padding: 11px;
    border-radius: 9px;
    background-image: linear-gradient(rgb(255, 0, 0) 0%, rgb(0, 0, 0) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid black;
}

.btnBorrar:hover {
    background: #FF0000;
    border: 2px solid white;
}

.btnBorrar:active {
    font-size: 1em;
    background: #000000;
}